[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git://github.com/rstacruz/sparkup
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = git://github.com/gmarik/Vundle.vim
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
